@model IEnumerable<Question>
@{
    ViewData["Title"] = "Форум";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Question/QuestionStyles.css" />
</head>
<body>
    <div class="questionsContainer mt-5">
        <form methor="post" asp-action="Create" class="questionsForm">
            <div class="me-5">
                <label for="Text" class="form-label fs-2 text-light mb-3">Задай въпрос</label>
                <input type="text" name="Text" class="form-control questionInput" />
            </div>
            <div class="questionSubmitButton">
                <button type="submit" class="btn btn-lg btn-forum">Изпрати</button>
            </div>
        </form>
        <div class="questionsList">
            @foreach (var question in Model)
            {
                <div id="question-@question.Id">
                    <div class="mt-5 questionContentContainer" >
                        <div class="questionTextContainer me-5">
                            <p class="ps-3 fs-4 text-light mb-0 questionText">@question.Text</p>
                        </div>
                        <div>
                            <div class="questionOptionsContainer ms-5">
                                <a class="questionTrash"
                                   onclick="deleteQuestion(@question.Id)"
                                   onmouseover="openTrash('trash-@question.Id')"
                                   onmouseout="closeTrash('trash-@question.Id')">
                                    <img src="~/Images/trash-can.png" class="questionOptions" id="trash-@question.Id" />
                                </a>
                                <a class="questionEdit"
                                   data-bs-toggle="modal"
                                   data-bs-target="#questionModal-@question.Id"
                                   onmouseover="openEdit('edit-@question.Id')"
                                   onmouseout="closeEdit('edit-@question.Id')">
                                    <img src="~/Images/edit.png" class="questionOptions ms-3" id="edit-@question.Id" />
                                </a>
                            </div>
                        </div>
                        <div class="modal fade" id="questionModal-@question.Id" tabindex="-1" aria-labelledby="questionModalLabel-@question.Id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="questionModalLabel-@question.Id">Редактирай въпроса</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" asp-action="Edit" asp-controller="Question" 
                                        asp-route-questionId="@question.Id">
                                        <div class="modal-body">
                                            <input class="form-control questionInput" name="Text" value="@question.Text"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                            <button type="submit" class="btn btn-light">
                                                Запази
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="post" asp-action="AddAnswer" asp-controller="Answer" asp-route-questionId="@question.Id" 
                        class="mt-3 mx-5 answerForm">
                        <div class="input-group mb-3">
                            <input type="text" name="text" class="form-control answerInput" placeholder="Добави отговор..." />
                            <button type="submit" class="btn btn-forum answerSend">Изпрати</button>
                        </div>
                    </form>
                    <div class="answersList">
                        @if (question.Answers != null && question.Answers.Any())
                        {
                            foreach (var answer in question.Answers)
                            {
                                <div class="answerContentContainer" id="answer-@answer.Id">
                                    <div class="answerTextContainer mx-5 mb-4">
                                        <p class="text-light fs-5 ms-3 mb-0">@answer.Text</p>
                                        <a class="answerOption" 
                                            data-bs-toggle="modal"
                                            data-bs-target="#answerModal-@answer.Id">
                                            <img src="~/Images/option.png" class="answerOptionImage" />
                                        </a>
                                    </div>
                                    <div class="answerReactionsContainer">
                                        <form method="post" asp-action="Create" asp-controller="Reaction">
                                            <input type="hidden" name="answerId" value="@answer.Id" />
                                            <button type="submit" name="Type" value="Like" class="buttonReaction">
                                                <img src="~/Images/like.png" class="me-2 answerReaction"/>
                                            </button>
                                            <span class="text-light me-3 fs-5 fw-bold" id="answerLike-@answer.Id">
                                                @question.Answers.First(a => a.Id == answer.Id).Reactions.Count(r => r.Type == "Like")
                                            </span>
                                            <button type="submit" name="Type" value="Dislike" class="buttonReaction">
                                                <img src="~/Images/unlike.png" class="me-2 answerReaction" />
                                            </button>
                                            <span class="text-light me-3 fs-5 fw-bold" id="answerDislike-@answer.Id">
                                                @question.Answers.First(a => a.Id == answer.Id).Reactions.Count(r => r.Type == "Dislike")
                                            </span>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal fade answerModal" id="answerModal-@answer.Id" tabindex="-1" aria-labelledby="answerModalLabel-@answer.Id" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="answerModalLabel-@answer.Id">Редактирай отговора</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <form method="post" asp-action="Edit" asp-controller="Answer"
                                                   class="formEditAnswer">
                                                <input type="hidden" name="answerId" value="@answer.Id" />
                                                <div class="modal-body">
                                                    <input class="form-control answerEditInput" name="Text" value="@answer.Text" />
                                                </div>
                                                <div class="modal-footer answer pb-5">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                                    <button type="submit" class="btn btn-light">
                                                        Запази
                                                    </button>
                                                </div>
                                            </form>
                                            <div class="answerDeleteContainer">
                                                <a class="text-light answerDelete fs-5" 
                                                    onclick="deleteAnswer(@answer.Id)">
                                                    Изтрий отговора
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="answerText fs-4 mt-3">Няма отговори</p>
                        }
                    </div>
                    <hr class="questionHr container" />
                </div>
            }
        </div>
    </div>
</body>

@section Scripts{
    <script>
        function openTrash(id)
        {
            document.getElementById(id).src="@Url.Content("~/Images/recycle-bin.png")";
        }
        function closeTrash(id)
        {
            document.getElementById(id).src="@Url.Content("~/Images/trash-can.png")";
        }

        function openEdit(id)
        {
            document.getElementById(id).src="@Url.Content("~/Images/edit-text.png")";
        }
        function closeEdit(id)
        {
            document.getElementById(id).src="@Url.Content("~/Images/edit.png")";
        }

        function deleteQuestion(id) {
            if(confirm("Изтриване")) {
                $.ajax({
                    url: "@Url.Action("Delete", "Question")",
                    type: "DELETE",
                    data: { questionId: id },
                    success: function() {
                        $("#question-" + id).remove();
                    },
                    error: function(err) {
                        alert("Не стана: " + err.responseText);
                    }
                });
            }
        }

        function deleteAnswer(id) {
            $.ajax({
                    url: "@Url.Action("Delete", "Answer")",
                    type: "DELETE",
                    data: { answerId: id },
                    success: function() {
                        $("#answer-" + id).remove();
                        window.location.reload();
                    },
                    error: function(err) {
                        window.location.reload();
                    }
            });
        }
    </script>
}