@{
    ViewData["Title"] = "Начало";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/Home/HomeStyles.css" />
</head>
<body>
    <div class="container bg-black m-0 p-0 imageContentContainer">
        <div class="imageContainer">
            <img src="Images/Logo.png" class="img-fluid imageHome"/>
        </div>
    </div>
    <header class="mt-5 mb-5 onyxHomeContainer">
        <h1 class="onyxHome">Оникс</h1>
    </header>
    <section class="onyxDescriptionContainer container">
        <p class="lead onyxDescription fs-4">
            Оникс е уеб приложение, насочено към потребители, които искат да усвоят основите на 
            програмирането чрез теория, тестове и участие в дискусии. Приложението съчетава структурата на учебна
            система с активна потребителска общност и актуална технологична информация.
        </p>
    </section>
    <section class="functionalitiesContainer mt-5 mb-5">
        <a href="#documentation" class="functionalityButton"
           onmouseover="changeTheme('functionality1', 'functionalityImageContainer1', 'functionalityImage1', 'functionalityText1', '@Url.Content("~/Images/quill-drawing-a-lineWhite.png")')"
           onmouseout="removeTheme('functionality1', 'functionalityImageContainer1', 'functionalityImage1', 'functionalityText1', '@Url.Content("~/Images/quill-drawing-a-line.png")')">
            <div class="functionality" id="functionality1">
                <div class="functionalityImageContainer mt-3" id="functionalityImageContainer1">
                    <img src="Images/quill-drawing-a-line.png" class="img-fluid functionalityImage" id="functionalityImage1" />
                </div>
                <p class="lead fs-3 mt-3 functionalityText" id="functionalityText1">Документация</p>
            </div>
        </a>
        <a href="#quiz" class="functionalityButton"
           onmouseover="changeTheme('functionality2', 'functionalityImageContainer2', 'functionalityImage2', 'functionalityText2', '@Url.Content("~/Images/wrongWhite.png")')"
           onmouseout="removeTheme('functionality2', 'functionalityImageContainer2', 'functionalityImage2', 'functionalityText2', '@Url.Content("~/Images/wrong.png")')">
            <div class="functionality" id="functionality2">
                <div class="functionalityImageContainer mt-3" id="functionalityImageContainer2">
                    <img src="Images/wrong.png" class="img-fluid functionalityImage" id="functionalityImage2" />
                </div>
                <p class="lead fs-3 mt-3 functionalityText" id="functionalityText2">Тестове</p>
            </div>
        </a>
        <a href="#forum" class="functionalityButton"
           onmouseover="changeTheme('functionality3', 'functionalityImageContainer3', 'functionalityImage3', 'functionalityText3', '@Url.Content("~/Images/chatWhite.png")')"
           onmouseout="removeTheme('functionality3', 'functionalityImageContainer3', 'functionalityImage3', 'functionalityText3', '@Url.Content("~/Images/chat.png")')">
            <div class="functionality" id="functionality3">
                <div class="functionalityImageContainer mt-3" id="functionalityImageContainer3">
                    <img src="Images/chat.png" class="img-fluid functionalityImage" id="functionalityImage3" />
                </div>
                <p class="lead fs-3 mt-3 functionalityText" id="functionalityText3">Форум</p>
            </div>
        </a>
    </section>
    <section class="documentationContainer">
        <div class="documentationContentContainer" id="documentation">
            <img src="Images/rectangle.png" class="img-fluid topLeftImage" />
            <div class="circlesContainer my-5">
                <img src="~/Images/round.png" class="img-fluid imageRound mb-5" />
                <div class="me-5">
                    <h2 class="documentationHeader">Документация</h2>
                    <div class="headerStyle"></div>
                </div>
            </div>
            <section class="documentationImageDescription mb-5">
                <div class="documentationImageContainer ms-5">
                    <a href="~/Images/Documentation.png" target="_blank" class="imageDocumentation">
                        <img src="~/Images/Documentation.png" class="img-fluid documentationImage" />   
                    </a>
                </div>
                <div class="documentationDescriptionContainer me-5">
                    <div class="documentationDescription mb-5">
                        <p class="lead documentationDescriptionText">
                            В документацията можете да намерите всичката важна информация за даден език за програмиране.
                            Съдържанието е разделено на раздели. За всеки от разделите има кратко описание на разглежданите
                            теми в него. Самата документацията е представена под формата на PDF файл. Във файла са 
                            включени снимки и примери, които ще ви дадат добра основа, която е нужна за тестовете.
                        </p>
                    </div>
                    <div class="documentationPattern">
                        <img src="~/Images/pattern.png" class="img-fluid" />
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="quizContainer">
        <div class="quizContentContainer" id="quiz">
            <header class="ms-4 quizHeader mb-5">
                <div class="mb-5">
                    <h2 class="ms-5 mt-5 documentationHeader">Тестове</h2>
                    <div class="ms-4 quizStyle"></div>
                </div>
                <div class="quizImageHeader mt-3">
                    <img src="~/Images/abstract-shape.png" class="img-fluid shapeImage"/>
                </div>
            </header>
            <section class="quizImageDescription mb-5">
                <div class="quizImageContainer ms-5">
                    <a href="~/Images/Quiz.png" target="_blank" class="imageDocumentation">
                        <img src="~/Images/Quiz.png" class="img-fluid quizImage" />
                    </a>
                </div>
                <div class="quizDescriptionContainer me-5 mt-5">
                    <div class="quizDescription mb-5">
                        <p class="lead quizDescriptionText fs-4">
                            За всеки език за програмиране си има тестове, в които можете да проверите знанията си.
                            Въпросите са с избираем отговор, като за всеки правилен отговор получавате по 1 точка.
                            В случай, че не знаете отговора, можете да използвате бутона за помощ <strong>(?)</strong>,
                            но така няма
                            да получите точка.
                            След приключване на теста се извежда резултата ви. Можете да подобрите резултата си,
                            като започнете нов тест.
                        </p>
                    </div>
                </div>
                <div class="quizPattern">
                    <img src="~/Images/patternLines.png" class="img-fluid quizPatternImage" />
                    <img src="~/Images/patternWavesBlack.png" class="img-fluid quizPatternImage" />
                </div>
                <div class="polygonWrapper">
                    <div class="polygonContainer">
                        <img src="~/Images/Polygon.png" class="img-fluid polygon" />
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="forumContainer mb-5" >
        <div class="forumContentContainer" id="forum">
            <header class="forumHeader mb-5">
                <div class="forumHeaderContainer mt-5">
                    <h2 class="documentationHeader">Форум</h2>
                </div>
            </header>
            <section class="forumImageDescriptionContainer mb-5">
                <div class="forumImageDescription container p-0 mb-5">
                    <div class="forumImageContainer">
                        <a href="~/Images/Forum.png" target="_blank" class="imageDocumentation">
                            <img src="~/Images/Forum.png" class="img-fluid" />
                        </a>
                    </div>
                    <div class="lineContainer">
                        <div class="verticalLine"></div>
                    </div>
                    <div class="forumDescriptionContainer">
                        <p class="lead text-light m-5 forumDescription fs-4">
                            Във форума можете да задавате въпроси, свързани с програмирането. Другите потребители
                            могат да отговарят на въпросите ви, като е възможно и оценяване на отговорите чрез 
                            реакции.
                            Реакциите биват две - харесване и нехаресване. Отговорът с най-много харесвания 
                            е правилния за вашия въпрос.
                        </p>
                    </div>
                </div>
                <div class="forumImageDescription container p-0 ">
                    <div class="forumImageContainer">
                        <a href="~/Images/ForumEditAnswer.png" target="_blank" class="imageDocumentation">
                            <img src="~/Images/ForumEditAnswer.png" class="img-fluid" />
                        </a>
                    </div>
                    <div class="lineContainer">
                        <div class="verticalLine"></div>
                    </div>
                    <div class="forumDescriptionContainer">
                        <p class="lead text-light m-5 fs-4 forumDescription">
                            Винаги може да редактирате текста на въпроса/отговора си или да го изтриете. За 
                            отговорите формата за редактиране се отваря 
                            при натискане на бутона с трите точки. 
                            За въпросите си има два отделни бутона - изтриване и редактиране.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>

@section Scripts
{
    <script>
        function changeTheme(funId, funImageContainerId, funImageId, funTextId, newImage) {
            document.getElementById(funId).style.backgroundColor = "white";
            document.getElementById(funImageContainerId).style.backgroundColor = "#1A1A1A";
            document.getElementById(funImageId).src = newImage;
            document.getElementById(funTextId).style.color = "black";
        }

        function removeTheme(funId, funImageContainerId, funImageId, funTextId, originalImage) {
            document.getElementById(funId).style.backgroundColor = "#1A1A1A";
            document.getElementById(funImageContainerId).style.backgroundColor = "white";
            document.getElementById(funImageId).src = originalImage;
            document.getElementById(funTextId).style.color = "white";
        }

    </script>
}

