@model IEnumerable<QuizQuestion>
@{
    ViewData["Title"] = "Въпроси";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/QuizQuestion/QuizQuestionStyles.css" />
</head>
<body>
    <h1 class="mt-5 mb-5 text-light">Въпроси за теста</h1>
    <div class="quizQuestionsContainer">
        <form method="post" asp-action="Create" asp-controller="QuizQuestion" asp-route-quizId="@ViewBag.quizId">
            <div class="mb-3">
                <label for="QuestionText" class="form-label fs-4 text-light">Въпрос</label>
                <input name="QuestionText" class="form-control" />
            </div>
            <div class="mb-3 gridGroup">
                <label for="AnswerA" class="form-label fs-4 fw-bold">A</label>
                <input name="AnswerA" class="form-control" />
            </div>
            <div class="mb-3 gridGroup">
                <label for="AnswerB" class="form-label fs-4 fw-bold">B</label>
                <input name="AnswerB" class="form-control" />
            </div>
            <div class="mb-3 gridGroup">
                <label for="AnswerC" class="form-label fs-4 fw-bold">C</label>
                <input name="AnswerC" class="form-control" />
            </div>
            <div class="mb-3 gridGroup">
                <label for="AnswerD" class="form-label fs-4 fw-bold">D</label>
                <input name="AnswerD" class="form-control" />
            </div>
            <div class="gridGroup">
                <label for="CorrectAnswer" class="form-label fs-4 fw-bold">Верен отговор</label>
                <input name="CorrectAnswer" class="form-control"/>
            </div>
            <div class="quizQuestionButtonContainer mt-5">
                <button type="submit" class="btn btn-lg btn-submit">Създай</button>
            </div>
        </form>
        <div class="quizQuestionsContentContainer mt-5">
            @foreach(var quizQuestion in Model)
            {
                <div class="quizQuestionElement px-5 mb-5">
                    <p class="questionText fs-3">@quizQuestion.QuestionText</p>
                    <p class="questionAnswer text-light fs-5"><span class="questionLetter me-2">A:</span> 
                        @quizQuestion.AnswerA
                    </p>
                    <p class="questionAnswer text-light fs-5">
                        <span class="questionLetter me-2">B:</span>
                        @quizQuestion.AnswerB
                    </p>
                    <p class="questionAnswer text-light fs-5">
                        <span class="questionLetter me-2">C:</span>
                        @quizQuestion.AnswerC
                    </p>
                    <p class="questionAnswer text-light fs-5">
                        <span class="questionLetter me-2">D:</span>
                        @quizQuestion.AnswerD
                    </p>
                    <p class="questionRightAnswer text-light fs-5">
                        <span class="questionRightAnswerSpan">Верен отговор:</span>
                        <strong>@quizQuestion.CorrectAnswer</strong>
                    </p>
                </div>
            }
        </div>
    </div>
</body>