@model IEnumerable<QuizQuestion>
@{
    ViewData["Title"] = "Започни теста";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/QuizQuestion/QuizQuestionStyles.css" />
    <link rel="stylesheet" href="~/css/QuizQuestion/StartTestStyles.css" />
</head>
<body>
    <div class="startQuizContainer container mt-5">
        @foreach (var quizQuestion in Model)
        {
            <div class="startQuizForm mb-5" data-quiz-id="@quizQuestion.Quiz.Id">
                <div class="startQuizElement" id="quizContainer-@quizQuestion.Id">
                    <header>
                        <h3 class="pt-3 fs-1" id="quizQuestionText-@quizQuestion.Id">@quizQuestion.QuestionText</h3>
                        <hr class="quizLine" />
                    </header>
                    <div class="quizGetAnswerContainer me-5">
                        <div class="quizQuestionContainer">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#showAnswerModal-@quizQuestion.Id">
                                <img src="~/Images/question.png" width="50" class="p-1" />
                            </button>
                        </div>
                    </div>
                    <div class="quizAnswersContainer mx-5 mt-5" data-correct-answer="@quizQuestion.CorrectAnswer">
                        <div class="quizOptionContainer">
                            <div class="quizOptionLetterContainer m-3">
                                <p class="quizOptionLetter text-light fs-3 m-0">A</p>
                            </div>
                            <button class="btn btn-lg btn-light m-3 quizOptionButton">@quizQuestion.AnswerA</button>
                        </div>
                        <div class="quizOptionContainer">
                            <div class="quizOptionLetterContainer m-3">
                                <p class="quizOptionLetter text-light fs-3 m-0">B</p>
                            </div>
                            <button class="btn btn-lg btn-light m-3 quizOptionButton">@quizQuestion.AnswerB</button>
                        </div>
                        <div class="quizOptionContainer">
                            <div class="quizOptionLetterContainer m-3">
                                <p class="quizOptionLetter text-light fs-3 m-0">C</p>
                            </div>
                            <button class="btn btn-lg btn-light m-3 quizOptionButton">@quizQuestion.AnswerC</button>
                        </div>
                        <div class="quizOptionContainer">
                            <div class="quizOptionLetterContainer m-3">
                                <p class="quizOptionLetter text-light fs-3 m-0">D</p>
                            </div>
                            <button class="btn btn-lg btn-light m-3 quizOptionButton">@quizQuestion.AnswerD</button>
                        </div>
                    </div>
                </div>
                <div class="quizButtonsContainer container my-5">
                    <a asp-action="Index" asp-controller="Quiz" class="btn btn-lg btn-info ms-5">Край на теста</a>
                    <a class="btn btn-lg btn-light me-5 btnNextQuestion">Следващ въпрос</a>
                </div>
                <div class="modal fade" id="showAnswerModal-@quizQuestion.Id" tabindex="-1" aria-labelledby="showAnswerModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-light" id="showAnswerModalLabel">Отговор</h1>
                                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="text-light fs-3">@quizQuestion.CorrectAnswer</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ОК</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            let correctAnswers = 0;
            const quizId = document.querySelector('.startQuizForm').getAttribute('data-quiz-id');

            document.querySelectorAll('.quizOptionButton').forEach(button => {
                button.addEventListener('click', function () {
                    const container = this.closest('.quizAnswersContainer');
                    const correctAnswer = container.getAttribute('data-correct-answer');

                    container.querySelectorAll('.quizOptionButton').forEach(btn => {
                        btn.classList.remove('btn-success', 'btn-danger');
                        btn.classList.add('btn-light');
                    });

                    if (this.textContent.trim() === correctAnswer.trim()) 
                    {
                        this.classList.remove('btn-light');
                        this.classList.add('btn-success');
                        correctAnswers++;
                    } 
                    else 
                    {
                        this.classList.remove('btn-light');
                        this.classList.add('btn-danger');
                        container.querySelectorAll('.quizOptionButton').forEach(btn => 
                        {
                            if (btn.textContent.trim() === correctAnswer.trim()) 
                            {
                                btn.classList.remove('btn-light');
                                btn.classList.add('btn-success');
                            }
                        });
                    }
                });
            });

            let currentIndex = 0;
            const quizContainers = document.querySelectorAll('.startQuizForm');
            let totalQuestions = quizContainers.length;
            quizContainers[currentIndex].style.display = 'block';

            document.querySelectorAll('.btnNextQuestion').forEach(button => {
                button.addEventListener('click', function () {
                    quizContainers[currentIndex].style.display = 'none';
                    currentIndex++;
                    if (currentIndex < quizContainers.length) {
                        quizContainers[currentIndex].style.display = 'block';
                    } else {
                        alert(`Тестът приключи! Ти реши ${correctAnswers} / ${totalQuestions} задачи.`);
                        
                        // window.location.href = `/QuizResult/Index?quizId=${quizId}&correct=${correctAnswers}&total=${totalQuestions}`;
                        window.location.href = `/QuizResult/Index?quizId=${quizId}`;
                        addQuizResult(quizId, correctAnswers, totalQuestions);
                    }
                });
            });
        })

        function addQuizResult(quizId, correctAnswers, totalQuestions)
        {
            $.post("@Url.Action("Create", "QuizResult")?quizId=" + quizId,
                { 
                    Score: correctAnswers, 
                    TotalQuestions : totalQuestions,
                    QuizId: quizId,
                    TakenAt: Date.now()
                },
                function(returnedData){
                    console.log(returnedData);
                })
                .fail(function(){
                  alert("error");
            });
        }
    </script>
}